*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.main-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.result{
  width: 60px;
  height: 60px;
  border: 2px solid #a11a1a;
  margin: 20px;
}

.plus,
.minus{
  width: 60px;
  height: 60px;
  border: 2px solid #a11a1a;
  margin: 20px;
  cursor: pointer;
}

.plus:hover,
.minus:hover{
  background-color: #d8c8c7;
}

.plus:active,
.minus:active{
  background-color: #fc0000;
}